<!-- <p>place-invariants works!</p> -->

<div class="container">

    <button mat-stroked-button class="tr-button" (click)="placeInvariantsService.calculatePIs()">Place
        Invariants</button>

    <table>
        <thead>
            <tr>
                <th *ngFor="let placeId of placeInvariantsService.placeIds">{{ placeId }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of placeInvariantsService.placeInvariantsMatrix">
                <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
        </tbody>
    </table>
</div>
